.Landing {
    background-color: #6E9CAC;
    background-image: url(../images/background.png);
    background-size: cover;
    background-blend-mode: multiply;
  }
  
  .AboutUs {
    text-align: center;
    color: white;
    background-color: #313357;
    background-image: url(../images/coding_bg.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
  }
  
  .contactUs {
    text-align: center;
    color: white;
    background-color: #3f3f3f;
    background-image: url(../images/contact_bg.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
  }
  
  .Projects {
    color: white;
    text-align: center;
    background-color: #5b637a;
    background-image: url(../images/projects_bg.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
  }
  
  .Products {
    text-align: center;
    background-color: #743C55;
  }
  
  .Blogs {
    text-align: center;
    background-color: #c9a01c;
  }
  