
.Landing {
  background-color: #79c4b9;
  background-image: url(../images/background.png);
  background-size: cover;
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
}

.AboutUs {
  background-color: white;
  text-align: center;
  background-color: #80acf2;
  background-image: url(../images/background.png);
  background-size: cover;
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
}

.Projects {
  background-color: white;
  text-align: center;
  background-color: green;
}

.Blogs {
  background-color: white;
  text-align: center;
  background-color: rgb(201, 160, 28);
}

.ContactUs {
  background-color: white;
  text-align: center;
  background-color: #ff9ad5;
}
