* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: big john;
  src: url('../fonts/big_john.otf');
}

@font-face {
  font-family: slim joe;
  src: url('../fonts/slim_joe.otf');
}

html, body {
  scroll-behavior: smooth;
  overflow: hidden;
  overflow-y: visible;
}

.title {
  vertical-align: text-top;
}

#fp-nav ul li a span {
  background: white !important;
}
.fp-slidesNav ul li a span {
  background: white !important;
}

.mainTitle {
  display: block;
  text-align: center;
  color: white;
  font-size: 4.5em;
  font-family: big john;
}

h4 {
  margin-top: 50px;
}

.email {
  color: #0ceb0c;

    &:hover {
      transition: ease-in-out 0.5s;
      color: #00eeff;
    }
}

.LowerText {
  display: block;
  margin-top: 15px;
  text-align: center;
  color: white;
  font-size: 14pt;
  font-family: sans-serif;
}

.bigButton {
  margin: 50px auto;
  display: block;
  width: 180px;
  height: 50px;
  border: 4px solid white;
  background:rgba(255,255,255,0.1);
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 5px;
  -webkit-transition: background-color 1000ms, color 1000ms, font-size 1000ms;
  transition: background-color 1000ms, color 1000ms, font-size 1000ms;
  text-decoration: none;

    &:hover {
      background-color: white!important;
      border: 4px solid white;
      color: #020c1c;
      cursor: pointer;
      -webkit-transition: background-color 500ms, color 500ms, font-size 500ms;
      transition: background-color 500ms, color 500ms, font-size 500ms, border 500ms;
      text-decoration: none;
    }
}

#hireUs {
  animation: contactButtonPulse 10s infinite;
  background-color: rgba(255,255,255,0.1);
  color: rgb(255, 255, 255);
  box-shadow: 3px 4px rgba(255, 255, 255, 0.8);
  transition: ease-in-out 0.1s;

    &:hover {
      animation: hireUsPulse 10s infinite!important;
      box-shadow: 0px 0px rgba(255, 255, 255, 0.7);
      transition: ease-in-out 0.1s;
    }
}

.section {
  position: relative;
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.icon-right {
  margin-left: 10px;
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.icon-wolf {
  bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}

#icons {
  display: flex;
  flex-direction: row;
}

.empty_space {
  flex-grow: 2;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #849b9b;
  border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #99a0aa;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #65696d;
}

/* Colour pulse animation*/
@keyframes hireUsPulse {
  0% {color:#c25d0a}
  25% {color:#05a10d}
  50% {color:#1ebce4}
  75% {color:#284e9e}
  100% {color:#c25d0a}
  0% {border:4px solid #c25d0a}
  25% {border:4px solid #05a10d}
  50% {border:4px solid #1ebce4}
  75% {border:4px solid #284e9e}
  100% {border:4px solid #c25d0a}
}

@keyframes contactButtonPulse {
  0% {border:4px solid #c25d0a}
  25% {border:4px solid #05a10d}
  50% {border:4px solid #1ebce4}
  75% {border:4px solid #284e9e}
  100% {border:4px solid #c25d0a}
}

@keyframes rainbowColorPulse {
  0% {color:#c25d0a}
  25% {color:#05a10d}
  50% {color:#1ebce4}
  75% {color:#284e9e}
  100% {color:#c25d0a}
}

.discord {
  display: flex;
  flex-direction: row;
}
.link_names {
  font-weight: bolder;
  margin-bottom: 12px;
  margin-left: -87%;
  text-align: center;
}

