$bg: rgba(0, 0, 0, 0.5);
$border: 5px;
$trans: 1.5s color, 1s all;


.Projects {
    h1 {
        font-family: 'Montserrat';
        font-size: 5em;
        font-weight: 650;
        text-transform: uppercase;
        color: white;
    }
    p{
        font-size: 1.5em;
        font-family: 'Roboto';
        a {
            color: #e2c000;
            text-decoration: none;
            transition: $trans;

            &:hover {
                color: #01a2ff;
                font-size: 2em;
            }
        }

    
    }
  

    .my-row {
        border: 3px solid red;
    }

    .project-col {
        background: #006e25;
    }
    

}

