$bg: rgba(0, 0, 0, 0.2);
$border: 5px;

.Projects {
    

    h1 {
        font-family: 'Montserrat';
        font-size: 5em;
        font-weight: 650;
        text-transform: uppercase;
        color: #33272A;
    }
}

.project1 {
    border-radius: $border;
    position: sticky;
    overflow: hidden;
    left: 4%;
    top: 5%;
    vertical-align: none!important;
    

    img {
        transform: scale(1);
        transition: .3s all;
        align-self: center;
        width: 1367px;
        height: 680px;
        border-radius: $border;

        .overlay {
            border-radius: $border;
            transition: .3s all;
            border-radius: 3px;
        }
    }

    .overlay {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        color: #fff;
        opacity: 0;

        h2 {
          padding-top: 5%;
          font-family: 'Montserrat';
          font-weight: bold;
          font-size: 4em;
          
        }
        p {
          font-family: 'Roboto';
          font-size: 1.5em;
          letter-spacing: .1em;
          margin-top: 15%;
          text-align: center;
        }

    }

    &:hover {

        cursor: pointer;
        box-shadow: none;
        .overlay {
            opacity: 1;
          }
        img {
            transform: scale(1.1);
            filter: blur(1.2px);
            
            
        }

    }

    


}

.project-section {

    .fp-tableCell {
        vertical-align: top;
    }

}